Django==5.2.3
Pillow==11.1.0
WeasyPrint==63.1
django-crispy-forms==2.3
crispy-bootstrap5==2025.2
python-decouple==3.8
django-allauth==64.2.1
requests==2.32.3
PyJWT==2.10.1
cryptography==44.0.0
mercadopago==2.2.3
